<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <app-header></app-header>
        </div>
    </div>
    <div class="row main-content border-top" style="margin-top: 72px;">
        <div class="col-auto d-none d-md-block sidebar" style="padding-left: 0px;">
            <app-side-menu></app-side-menu>
        </div>
        <div class="col">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>

<!-- Sidebar toggle for small screens -->
<div class="d-md-none fixed-top" style="margin-top: 72px;">
    <button class="btn btn-light" type="button" data-bs-toggle="offcanvas" data-bs-target="#sidebar" aria-controls="sidebar">
        <i class="fas fa-bars"></i>
    </button>
</div>

<div class="offcanvas offcanvas-start" tabindex="-1" id="sidebar" aria-labelledby="sidebarLabel">
    <div class="offcanvas-header">
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <app-side-menu></app-side-menu>
    </div>
</div>