<div class="d-flex flex-column flex-shrink-0 px-3 py-1 sidebar-content border-end">
    <a href="/" class="d-flex mb-3 mb-md-0 mb-sm-0 me-md-auto link-dark text-decoration-none">
        <span class="fs-4">A1 Hospital</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto sidebar-menu">
        <li class="nav-item">
            <a routerLink="dashboard" class="nav-link link-dark d-flex align-items-center gap-2" aria-current="page">
                <i class="fas fa-dashboard"></i>
                <span ngClass="d-inline">Dashboard</span>
            </a>
        </li>
        <li class="nav-item">
            <a routerLink="doctors" class="nav-link link-dark d-flex align-items-center gap-2" aria-current="page">
                <i class="fas fa-user-md"></i>
                <span ngClass="d-inline">Doctors</span>
            </a>
        </li>
    </ul>
</div>