<div ngClass="container">
    <h2 ngClass="text-center mb-4">Our Doctors</h2>
    <div ngClass="row">
        <div ngClass="col-md-4 mb-4">
            <div ngClass="card">
                <img src="/image/doctor-dummy.png" ngClass="card-img-top" alt="Doctor Image" [height]="200">
                <div ngClass="card-body">
                    <h5 ngClass="card-title">Dr. Ankush Rajput</h5>
                    <p ngClass="card-text">Specialist in Cardiology</p>
                    <a href="#" ngClass="btn btn-primary">Read More</a>
                </div>
            </div>
        </div>

        <div ngClass="col-md-4 mb-4">
            <div ngClass="card">
                <img src="/image/doctor-dummy.png" ngClass="card-img-top" alt="Doctor Image" [height]="200">
                <div ngClass="card-body">
                    <h5 ngClass="card-title">Dr. Kamal Kumar</h5>
                    <p ngClass="card-text">Specialist in Cardiology</p>
                    <a href="#" ngClass="btn btn-primary">Read More</a>
                </div>
            </div>
        </div>
        <div ngClass="col-md-4 mb-4">
            <div ngClass="card">
                <img src="/image/doctor-dummy.png" ngClass="card-img-top" alt="Doctor Image" [height]="200">
                <div ngClass="card-body">
                    <h5 ngClass="card-title">Dr. Kamal Kumar</h5>
                    <p ngClass="card-text">Specialist in Cardiology</p>
                    <a href="#" ngClass="btn btn-primary">Read More</a>
                </div>
            </div>
        </div>
        <div ngClass="col-md-4 mb-4">
            <div ngClass="card">
                <img src="/image/doctor-dummy.png" ngClass="card-img-top" alt="Doctor Image" [height]="200">
                <div ngClass="card-body">
                    <h5 ngClass="card-title">Dr. Kamal Kumar</h5>
                    <p ngClass="card-text">Specialist in Cardiology</p>
                    <a href="#" ngClass="btn btn-primary">Read More</a>
                </div>
            </div>
        </div> <div ngClass="col-md-4 mb-4">
            <div ngClass="card">
                <img src="/image/doctor-dummy.png" ngClass="card-img-top" alt="Doctor Image" [height]="200">
                <div ngClass="card-body">
                    <h5 ngClass="card-title">Dr. Kamal Kumar</h5>
                    <p ngClass="card-text">Specialist in Cardiology</p>
                    <a href="#" ngClass="btn btn-primary">Read More</a>
                </div>
            </div>
        </div> <div ngClass="col-md-4 mb-4">
            <div ngClass="card">
                <img src="/image/doctor-dummy.png" ngClass="card-img-top" alt="Doctor Image" [height]="200">
                <div ngClass="card-body">
                    <h5 ngClass="card-title">Dr. Kamal Kumar</h5>
                    <p ngClass="card-text">Specialist in Cardiology</p>
                    <a href="#" ngClass="btn btn-primary">Read More</a>
                </div>
            </div>
        </div> <div ngClass="col-md-4 mb-4">
            <div ngClass="card">
                <img src="/image/doctor-dummy.png" ngClass="card-img-top" alt="Doctor Image" [height]="200">
                <div ngClass="card-body">
                    <h5 ngClass="card-title">Dr. Kamal Kumar</h5>
                    <p ngClass="card-text">Specialist in Cardiology</p>
                    <a href="#" ngClass="btn btn-primary">Read More</a>
                </div>
            </div>
        </div> <div ngClass="col-md-4 mb-4">
            <div ngClass="card">
                <img src="/image/doctor-dummy.png" ngClass="card-img-top" alt="Doctor Image" [height]="200">
                <div ngClass="card-body">
                    <h5 ngClass="card-title">Dr. Kamal Kumar</h5>
                    <p ngClass="card-text">Specialist in Cardiology</p>
                    <a href="#" ngClass="btn btn-primary">Read More</a>
                </div>
            </div>
        </div> <div ngClass="col-md-4 mb-4">
            <div ngClass="card">
                <img src="/image/doctor-dummy.png" ngClass="card-img-top" alt="Doctor Image" [height]="200">
                <div ngClass="card-body">
                    <h5 ngClass="card-title">Dr. Kamal Kumar</h5>
                    <p ngClass="card-text">Specialist in Cardiology</p>
                    <a href="#" ngClass="btn btn-primary">Read More</a>
                </div>
            </div>
        </div> <div ngClass="col-md-4 mb-4">
            <div ngClass="card">
                <img src="/image/doctor-dummy.png" ngClass="card-img-top" alt="Doctor Image" [height]="200">
                <div ngClass="card-body">
                    <h5 ngClass="card-title">Dr. Kamal Kumar</h5>
                    <p ngClass="card-text">Specialist in Cardiology</p>
                    <a href="#" ngClass="btn btn-primary">Read More</a>
                </div>
            </div>
        </div> <div ngClass="col-md-4 mb-4">
            <div ngClass="card">
                <img src="/image/doctor-dummy.png" ngClass="card-img-top" alt="Doctor Image" [height]="200">
                <div ngClass="card-body">
                    <h5 ngClass="card-title">Dr. Kamal Kumar</h5>
                    <p ngClass="card-text">Specialist in Cardiology</p>
                    <a href="#" ngClass="btn btn-primary">Read More</a>
                </div>
            </div>
        </div> <div ngClass="col-md-4 mb-4">
            <div ngClass="card">
                <img src="/image/doctor-dummy.png" ngClass="card-img-top" alt="Doctor Image" [height]="200">
                <div ngClass="card-body">
                    <h5 ngClass="card-title">Dr. Kamal Kumar</h5>
                    <p ngClass="card-text">Specialist in Cardiology</p>
                    <a href="#" ngClass="btn btn-primary">Read More</a>
                </div>
            </div>
        </div> <div ngClass="col-md-4 mb-4">
            <div ngClass="card">
                <img src="/image/doctor-dummy.png" ngClass="card-img-top" alt="Doctor Image" [height]="200">
                <div ngClass="card-body">
                    <h5 ngClass="card-title">Dr. Kamal Kumar</h5>
                    <p ngClass="card-text">Specialist in Cardiology</p>
                    <a href="#" ngClass="btn btn-primary">Read More</a>
                </div>
            </div>
        </div>
    </div>
</div>