<nav ngClass="navbar navbar-expand-lg navbar-light bg-light">
    <div ngClass="container-fluid">
        <a ngClass="navbar-brand" routerLink="/">
            <img src="./image/logo.png" alt="logo" [height]="'70'" [width]="'90'">
        </a>
        <button ngClass="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span ngClass="navbar-toggler-icon"></span>
        </button>
    </div>
    <div ngClass="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div ngClass="navbar-nav">
            <a ngClass="nav-link active" aria-current="page" routerLink="/">Home</a>
            <a ngClass="nav-link" routerLink="">Features</a>
            <a ngClass="nav-link" href="#">Pricing</a>
            <a ngClass="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </div>
    </div>
</nav>